body {
    background-color:skyblue;
    font-family: 'Roboto';
}

.imgtop {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; 
}

.lineHeader1 {
  font-family: 'Alfa Slab One', cursive;
}


.nav-title {
  font-weight: bold;
  font-size: 3vh;
}