body {
    /* background-color:skyblue; */
    font-family: 'Roboto';
}

.autograph {
  font-family: 'Cookie', cursive;
  font-size: 5vh;
}

.imgtop {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; 
}


.nav-title {
  font-weight: bold;
  font-size: 3vh;
}

.section1 {
  background-color: aliceblue;
  margin-top: 8vh;
  padding: 10px;
}

  @media screen and (max-width: 640px) {
    .section1 {
      margin-top: 25vh;
    }
  }

.section2 {
    margin-top: 10vh;
}

.text-green {
  color: #49b970;
}

.wide-font{
  font-family: 'Archivo Black', sans-serif;
}