body {
    /* background-color:skyblue; */
    font-family: 'Roboto';
}

.autograph {
  font-family: 'Cookie', cursive;
  font-size: 5vh;
}


.btn {
  width: 150px;
  height: 50px;
}

.cover {
  width: 150px;
  height: 225px;
}


.imgtop {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; 
}

.lmargin {
  margin-left: 20vw;
}

.lmargin-sm {
  margin-left: 1vw;
}

.nav-title {
  font-weight: bold;
  font-size: 3vh;
}

.rectanglesm {
  width: 200px;
  height: 175px;
  margin-top: 1vw;
}

.right-padding {
  padding-right: 2vw;
}

.section1 {
  background-color: aliceblue;
  margin-top: 8vh;
  padding: 10px;
}

  @media screen and (max-width: 640px) {
    .section1 {
      margin-top: 25vh;
    }
  }

.section2 {
    margin-top: 10vh;
}

.section-a1 {
    margin-top: 15vh;
}

.section-a2 {
    background-color: aliceblue;
    margin-top: 8vh;
    padding-top: 5vh;
}

.section-background {
  background-color: aliceblue;
}

section-font {
    font-family: 'Archivo Black', sans-serif;
    font-size: 5vh;
    font-weight: bold;
}

.square {
  width: 150px;
  height: 150px;
}

.text-background {
   background-color: #49b970;
   color: white;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #49b970;
}

.text-margin {
  margin-left: 50vw;
}

.text-right {
  text-align: right;
}


.top-vspace {
  margin-top: 5vh;
}

.top-padding {
  padding-top: 2vh;
}

.vspace {
  margin-bottom: 1vh;
}

.vspace-double {
  margin-bottom: 2vh;
}

.vspace-bottom {
  margin-bottom: 5vh;
}

.wide-font{
  font-family: 'Archivo Black', sans-serif;
}

/* Interests area */

.services-area {
  background-color: aliceblue;
  margin-top: 5vh;
  padding-top: 5vh;
}

.single-service h3 {
    color: #5b5b5b;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
    margin-top: 21px;
    padding-bottom: 14px;
    position: relative;
}
.single-service h3::before {
    background-color: #d7dbde;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 46px;
}
.single-service > p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}
.single-service {
  padding: 58px 34px 73px 32px;
  transition: all 0.3s ease 0s;
}
/* .single-service:hover {
    background-color: azure;
} */
.custom-col {
  padding: 0 37px;
}
.custom-row {
    margin: 0 -37px;
}
