body {
    background-color:skyblue;
    font-family: 'Roboto';
}

.imgtop {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; 
}

.lineHeader1 {
  font-family: 'Alfa Slab One', cursive;
}

.navbar {
  color: white;
  font-weight: bold;

}