body {
    /* background-color:skyblue; */
    font-family: 'Roboto';
}

.autograph {
  font-family: 'Cookie', cursive;
  font-size: 5vh;
}

.imgtop {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; 
}


.nav-title {
  font-weight: bold;
  font-size: 3vh;
}

.section1 {
  background-color: aliceblue;
  margin-top: 8vh;
  padding: 10px;
}

  @media screen and (max-width: 640px) {
    .section1 {
      margin-top: 25vh;
    }
  }

.section2 {
    margin-top: 10vh;
}

.section-a1 {
    margin-top: 15vh;
}

.text-green {
  color: #49b970;
}

.wide-font{
  font-family: 'Archivo Black', sans-serif;
}

/* Interests area */

.services-area {
  background-color: aliceblue;
  margin-top: 5vh;
  padding-top: 5vh;
}

.single-service h3 {
    color: #5b5b5b;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
    margin-top: 21px;
    padding-bottom: 14px;
    position: relative;
}
.single-service h3::before {
    background-color: #d7dbde;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 46px;
}
.single-service > p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}
.single-service {
  padding: 58px 34px 73px 32px;
  transition: all 0.3s ease 0s;
}
.single-service:hover {
    background-color: #eff2f5;
}
.custom-col {
  padding: 0 37px;
}
.custom-row {
    margin: 0 -37px;
}
